@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .yuna {
    transform: translatey(0);
    transition-delay: 0s;
}

.container .yuna .active{
    transform: translatey(-800px);
    transition-delay: 0s;
}

.container .yura {
    transform: translatey(0);
    transition-delay: 0s;
}


.container .yura .active{
    transform: translatey(-800px);
    transition-delay: 0s;
}


section {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center; 
}

h1{
    color: white;
    text-shadow: 1px 1px 4px #000;
}

.one{
    background-color: rgb(119, 119, 119)
}

.yuna{
    outline: none;
    border: none;
    background: none;
    font-size: 45px;
}
.yuna:hover{
    transform: scale(1.4);
    transition: .3s ease;
    color: rgb(255, 255, 255);
    text-shadow: 
    0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(0, 0, 0),
    0 0 40px rgb(0, 0, 0),
    0 0 80px rgb(0, 0, 0),
    0 0 160px rgb(0, 0, 0);;
}



.two{
    background-color: rgb(38, 4, 61)
}

.yura{
    border: none;
    outline: none;
    background: none;
    font-size: 45px;
}

.yura:hover{
    transform: scale(1.4);
    transition: .3s ease;
    color: rgb(255, 0, 0);
    text-shadow: 
    0 0 10px rgb(255, 0, 234),
    0 0 20px rgb(255, 0, 234),
    0 0 40px rgb(255, 0, 234),
    0 0 80px rgb(255, 0, 234),
    0 0 160px rgb(255, 0, 234);;
}

.three{
    background-color: rgb(214, 27, 167)
}

.mahiro{
    border: none;
    outline: none;
    background: none;
    font-size: 45px;
}

.mahiro:hover{
    transform: scale(1.4);
    transition: .3s ease;
    color: rgb(131, 48, 73);
    text-shadow: 
    0 0 10px rgb(255, 0, 0),
    0 0 20px rgb(255, 0, 0),
    0 0 40px rgb(255, 0, 0),
    0 0 80px rgb(255, 0, 0),
    0 0 160px rgb(255, 0, 0);;
}


.four{
    background-color: rgb(245, 68, 24)
}
.hina{
    border: none;
    outline: none;
    background: none;
    font-size: 45px;
}
.hina:hover{
    transform: scale(1.4);
    transition: .3s ease;
    color: rgb(223, 238, 9);
    text-shadow: 
    0 0 10px rgb(5, 217, 255),
    0 0 20px rgb(5, 217, 255),
    0 0 40px rgb(5, 217, 255),
    0 0 80px rgb(5, 217, 255),
    0 0 160px rgb(5, 217, 255);;
}


