*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'poppigs', sans-serif;
}

.header{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 138px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 36px;
    color: #0C57F9;
    cursor: pointer;
    font-weight: 100px;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}

.navbar a{
    font-size:20px;
    color: #000000;
    right: 60px;
    margin-left: 4rem;
    font-weight: 500;   
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    position: relative;
}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:#0C57F9;;
    border-radius: 5px;
    transform: scalex(0);
    transition: .5s;
}

.navbar a:hover:after{
    transform: scalex(1);
    box-shadow: 
    0 0 10px #0C57F9,
    0 0 20px #0C57F9,
    0 0 40px #0C57F9,
    0 0 80px #0C57F9,
    0 0 160px #0C57F9;
}


section{
  height: 100vh;
  scroll-snap-align: start;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 70px;
  }

  .text-section {
    margin-top: 240px; 
    max-width: 50%;
    margin-left: 25rem;
  }

  h1{
    font-size: 75px;
    font-family: 'Kaushan Script', cursive;
    margin: 0;
  }

  .text-section h1 span {
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
  }

  .text-section p {
    margin-top: 2px;
    font-size: 33px;
    font-weight: bold;
    
  }

  .teks a{
    /* position: absolute; */
    font-size: 25px;
    font-weight: normal;
    top: 600px;
    color: #333;
    font-style: italic; /* opsional kalau mau lebih halus */
  }

  .gambar1 img {
    width: 600px;
    max-width: 100%; /* mencegah overflow */
    border-radius: 50%;
    background-color: #D9D9D9;
    padding: 40px;
    margin-top: 250px;
    position: relative; /* Ubah dari absolute */
    right: 120px;        
  }


  .about-content{
    padding-top: 100px;
    height: 100%;
    width: 100%;
    background: #848085;   
  }

  .about-content h2{
    font-size: 40px;
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }

  .gambar2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    position: relative;
    /* width: 200px; */
    /* overflow: hidden; */
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    transition: transform 0.3s ease;
    display: block;
  }
  
  .caption {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    pointer-events: none;
    font-size: 14px;
  }
  
  /* Hover Effects */
  .card:hover img {
    transform: translateY(-10px);
  }
  
  .card:hover .caption {
    opacity: 1;
  }
  
  .ganti1{
    width: 410px;
   height: 570px;      
  }
  
  .ganti{
    max-width: 320px;
    height: 570px;
    margin-right: 40px;
  }
  
  .ganti2{
    max-width: 360px;
   margin-top: 40px;
  }

  .about-company {
    width: 100%;
    background: #f4f4f4;
    padding: 130px 0;
    text-align: center;
  }

  .judul a {
    font-size: 36px;
    font-weight: bold;
    color: #0b57d0;
  }

  .isi p {
    margin: 5px 0;
    color: #333;
    font-size: 24px;
  }

  .container {
    display: flex;
    flex-direction: column; /* ubah dari row ke column */
    align-items: center;
    gap: 30px; /* beri jarak antara visi dan misi */
    margin-top: 40px;
  }

  .visi-box {
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border: 2px solid #0C57F9;
    color: #0C57F9;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    margin-right: 400px;
  }
  .misi-box {
    width: 260px;
    height: 260px;
    background-color: #ffffff;
    border: 2px solid #0C57F9;
    color: #0C57F9;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    margin-left: 300px;
  }

  .visi-box.open {
    width: 360px;
    height: auto;
    border-radius: 40px;
    padding: 20px;
  }
  .misi-box.open {
    width: 600px;
    height: 250px;
    border-radius: 50px;
    padding: 20px;
  }

  .visi-title {
    font-weight: bold;
    font-size: 28px;
    color: #0C57F9;
  }
  .misi-title {
    font-weight: bold;
    font-size: 28px;
    color: #0C57F9;
  }

  .visi-desc {
    margin-top: 10px;
    font-size: 18px;
    display: none;
    color: black;
  }
  
  .misi-desc {
    margin-top: 10px;
    display: none;
  }

  .visi-box.open .visi-desc {
    display: block;
  }
  .misi-box.open .misi-desc {
    display: block;
  }

  .misi-desc ul {
    margin: 10px 0 0 20px;
    padding: 0;
    font-size: 18px;
    color: black;
  }

  .misi-desc li {
    margin-bottom: 10px;
  }

  .About-owner{
    padding-top: 100px;
    height: 100%;
    width: 100%;
    background: #b1ddff;
  }
  
  .owner img{
    margin-top: 40px;
    margin-right: 65rem;
    width: 250px;
    height: 250px;
    border-radius: 40%;
  }
  
  .kotak{
    margin-left: 300px;
    margin-top: 50px;
    width: 1328px ;
    height: 670px;
    background: #f4f4f4;
    border-radius: 93px;
    transition: 0.5s ease;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  }
  
  .kotak:hover{
   transform: translateY(-20px);
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  }
  
  .profile{
    padding-top: 40px ;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    display: flex;
    justify-content: center;
  }
  
  .bawahfoto{
    margin-right: 55rem;
  }
  
  .nama{
    /* margin-left: 20px; */
    font-size: 26px;
    font-weight: bold;
    
  }
  
  .shop{
    margin-left: 10px;
    font-size: 22px;
    font-weight: 100;
  }
  
  .biru{
    color: #0C57F9;
    font-size: 28px;
  }
  
  .hitam1{
    font-size: 26px;
    margin-bottom: 20px;
  }
  .hitam2{
    font-size: 26px;
    margin-bottom: 20px;
  }
  .hitam3{
    font-size: 26px;
  }
  
  .tentang{
    margin-left: 30rem;
    margin-top: -17rem;
  }
  
  .footer{
    background: #2C3E50;
    width: 100%;
    height: 300px;
  }
  
  .web{
    font-family: "Julius Sans One", sans-serif;
    color: white;
    font-size: 44px;
  }
  
  .copyright{
    color: #ffff;
    font-size: 16px;
    font-family: "Instrument Sans", sans-serif;
  }
  
  .pertama{
    position: absolute;
    padding-top: 8rem;
    padding-left: 200px;
  } 
  
  .kedua{
    margin-top: 150px;
    position: absolute;
    padding-left:53rem;
  }
  
  .ketiga{
    position: absolute;
   margin-top: 140px;
    padding-left: 96rem;
  }
  
  .contact-us{
    font-family: "Instrument Sans", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #ffff;
  }
  .alamat{
    font-family: "Instrument Sans", sans-serif;
    font-size: 16px;
    color: #ffff;
  }
  
  .follow-us{
    font-family: "Instrument Sans", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #ffff; 
  }
  
  .ig ul{
    list-style: none;
    font-family: "Instrument Sans", sans-serif;
  }
  
  .ig ul li a {
    color: white; /* Ubah warna tulisan jadi putih */
    text-decoration: none; /* Hilangkan garis bawah */
    display: inline-block; /* Agar transform bekerja */
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .ig ul li a:hover {
    transform: scale(1.2);
  }
  
  .sosial{
    font-family: "Instrument Sans", sans-serif;
    gap: 50px; 
    transition: 0.5s ease; 
    color: white;
    text-align: center;
    transition: 0.5s ease;
  }
  
  .sosial:hover{
    transform: scale(1.2);
  }

  .tiktok{
    font-family: "Instrument Sans", sans-serif;
    gap: 50px; 
    transition: 0.5s ease; 
    color: white;
    text-align: center;
    margin-right: 30px;
    transition: 0.5s ease;
  }
  
  .tiktok:hover{
    transform: scale(1.2);
  }

  .youtube{
    font-family: "Instrument Sans", sans-serif;
    gap: 50px; 
    transition: 0.5s ease; 
    color: white;
    text-align: center;
    margin-right: 10px;
    transition: 0.5s ease;
  }
  
  .youtube:hover{
    transform: scale(1.2);
  }

  
  .icon{
    color: #ffff;
  }
    